.nav-align{
    background: linear-gradient(90deg,#0a0b13,#070920,#040828);
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-evenly;;
    font-size: 1.2vw;
    position: sticky;
}
.nav-img{
    display: block;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
}

